.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.nonogram-board {
  display: grid;
}

.top-left {
  grid-column: 1;
  grid-row: 1;
}

.col-hints {
  grid-column: 2;
  grid-row: 1;
  display: grid;
}

.col-hint-item {
  font-size: calc(var(--cell-size) * 0.4);
  line-height: 1.2;
}

.row-hints {
  grid-column: 1;
  grid-row: 2;
  display: grid;
}

.row-hint-item {
  font-size: calc(var(--cell-size) * 0.5);
}

.cells-grid {
  grid-column: 2;
  grid-row: 2;
  display: grid;
}

.cell {
  border-width: 1px;
  border-style: solid;
}
