    <app-game-waiting-room
      class="w-full h-full flex"
      [gameId]="'sudoku'"
      [mode]="store.currentRoomMode()"
      [roomId]="store.roomId()"
      [difficulty]="GameDifficulty.Medium"
      [players]="getPlayers()"
      [hostId]="store.hostId()"
      [currentUserId]="store.playerId()"
      [readyPlayers]="store.rawState()?.readyPlayers || {}"
      (leave)="store.leaveRoom()"
      (start)="store.startGame()"
      (changeSettings)="changeSettings.emit()"
      (kick)="store.kickPlayer($event)"
      (ready)="store.ready()"
      (cancelReady)="store.cancelReady()"
    ></app-game-waiting-room>
  